<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        My Website - About
    </title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>
        Danielle Malcolm
    </h1>
    <p>
        I am energetic, loving and really enthusiastic. I enjoy Web development and hope in the future
        that I will be able to persue a job in that field. I also enjoy watching Anime and listening
        to music. I am also a proud mother of 1. I am happy.
    </p>
</body>
</html>